@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Public Sans, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --radius: 0.5rem
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 263 90% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 10% 4%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 30%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 10% 4%;
    --destructive: 0 62.8% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 240 4% 30%;


    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 263 90% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 65%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components{
  .blog{
    h1 {
      @apply text-3xl font-bold mt-4 mb-2 text-center;
      margin-bottom: 30px;
    }
    h2 {
      @apply text-2xl font-semibold mt-3 mb-1;
    }
    h3 {
      @apply text-xl font-medium mt-2 mb-1;
    }
    p {
      @apply mb-4;
    }
    ul {
      @apply list-disc list-inside mb-4 list-outside;
      margin-left: 30px
    }
    a {
      @apply text-blue-600 underline;
    }
    img {
      @apply rounded-xl
    }
  }
}



/* @layer components {
  .blog {
    *{
      margin: unset !important;
    }
    h1 {
      font-size: xx-large !important;
      font-weight: bold !important;
      color: inherit !important;
    }
    h2 {
      font-size: x-large !important;
      font-weight: semibold !important;
      color: inherit !important;
    }
    h3 {
      font-size: large !important;
      font-weight: semibold !important;
      color: inherit !important;
    }
    h4 {
      font-size: medium !important;
      font-weight: semibold !important;
      color: inherit !important;
    }
    h5 {
      font-size: small !important;
      font-weight: semibold !important;
      color: inherit !important;
    }
    h6 {
      font-size: x-small !important;
      font-weight: semibold !important;
      color: inherit !important;
    }
    p {
      font-size: 1rem !important;
      font-weight: normal !important;
      color: inherit !important;
    }
    a {
      color: blue !important;
      text-decoration: underline !important;
    }
    ul, ol {
      list-style: inherit !important;
      padding-left: 1.5rem !important;
    }
    blockquote {
      font-style: italic !important;
      border-left: 4px solid #ddd !important;
      padding-left: 1rem !important;
    }
    strong {
      font-weight: bold !important;
    }
    em {
      font-style: italic !important;
    }
  }
} */


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html {
  scroll-behavior: smooth;
}

:root {
  --font-geist-sans: var(--geist-font);
  --font-geist-mono: var(--geist-mono-font);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}